[Desktop Entry]
Type=Application
Name=CCTV Viewer
GenericName=Video streams viewer
GenericName[ru]=Просмотрщик видеопотоков
Comment=Viewer and mounter video streams
Comment[ru]=Просмотрщик и компоновщик видеопотоков
Icon=cctv-viewer
Exec=cctv-viewer
Terminal=false
Categories=Qt;AudioVideo;Video;Viewer;
Keywords=cctv;viewer;live streaming;
