#!/usr/bin/make -f


%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DPACKAGER=DEB

# Uncomment to skip tests during build (see issue #76)
#override_dh_auto_test:
